// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~noty/src/noty.scss";

@import "~noty/src/themes/mint.scss";


.form-control.product-quantity {
    width: 50%;
}

.card-title.chart-title {
    margin: 17px;
    font-size: 28px;
    background: #ffc107;
    padding: 6px;
}
